name: "release"

on:
  pull_request:
  push:
    tags:
      - "*"

permissions:
  contents: "write"

jobs:
  draft:
    runs-on: "ubuntu-latest"
    steps:
      - run: "sudo apt-get install pandoc"
      - uses: "actions/checkout@v4"
        with:
          fetch-depth: 0
      - uses: "actions/setup-go@v5"
        with:
          go-version: "1.22"
      - uses: "goreleaser/goreleaser-action@v5"
        with:
          distribution: "goreleaser"
          version: "latest"
          args: "release --clean"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
